<%= provide(:title, "About") %>
<div class="top-h-wrapper">
	<h1>About</h1>
</div>
<br>
<br>
<div class="left-push"></div>
<div class="container about-content">
	<p>I'm a tech entrepreneur, sophomore at Babson College, and wannabe kickboxer. I'm currently running 2 businesses with several early stage ideas in the works, studying business and entrepreneurship at Babson while teaching myself computer science, and training at the UFC gym in Boston (not as much as I should though). I LOVE tech startups and innovation.</p>
	<br>
	<p>The best term I can use to describe myself professionally is that I'm a 'Full Stack Tech Entrepreneur' (or at least aspiring to be). I constantly observe and ideate, conduct research on those ideas, and bring them to life with my design and dev skills. Once I have a product, I'm then responsible for marketing it, too. That's probably my weakpoint in the chain, but I'm working on it. I've spent a lot of time pursuing this Full Stack Tech Entrepreneur idea, and I'm finally at a point where I can bring an idea to life in under a week for less than 50 bucks. That's pretty cool.</p>
	<br>
	<p>This website, for example, was a one-day project with total costs of $10. I felt the need to create a roadmap/canvas of all the work I was doing because it was actually getting hard to keep track of it all and clearly articulate the stage of all of my ideas, their exact scope, description etc. So I created a quick wireframe of the homepage, turned that into a mockup with Illustrator and Photoshop, and then brought the full site to life with Ruby on Rails.</p>
	<br>
	<p>Like just about everyone, I'm busy. But unlike just about everyone, I'm willing to make the time to connect with you - even if you're some random person I've never met who's cold-emailing me. The biggest problem I'm facing right now is not having enough motivated people working on all of my ideas with me. So send me a note and let's talk!</p>
	<br>
	<div class="center">
		<%= link_to 'Send Me A Message', contact_path, class: 'btn btn-primary' %>
		&nbsp;
		&nbsp;
		<%= link_to 'Check Out My Startups', startups_path, class: 'btn btn-primary' %>
	</div>
</div>