<%= provide(:title, 'Contact') %>
<div class="top-h-wrapper">
	<h1>Contact Me</h1>
</div>
<br>
<br>
<div class="left-push"></div>
<div class="container contact-content">
	<br>
	<p>Feel free to contact me anytime at this address:</p>
	<h3>dylan [at] saveohno.org</h3>
</div>