<%= provide(:title, "Home") %>
<div class="top-h-wrapper">
	<h1>Full Stack Tech Entrepreneur</h1>
	<h2>Ideation • Research • Design • Development • Marketing</h2>
</div>
<%= image_tag 'pipeline-blue.png', class: 'pipeline' %>