<%= provide(:title, "Home") %>
<div class="top-h-wrapper">
	<h1>Full Stack Tech Entrepreneur</h1>
	<h2>Ideation • Research • Design • Development • Marketing</h2>
</div>
<%= image_tag 'pipeline-blue.png', class: 'pipeline' %>
<div class="launch-stage">
	<% @launch_stage.each do |startup| %>
		<%= link_to image_tag(startup.square_logo, class: 'square-logo'), startup_path(startup.id) %>
	<% end %>	
</div>